.user-card{
    background-color: #1b1b1b;
    padding: 1rem;
    margin: 0 0.5rem 1rem 0.5rem;
    border-radius: 0.5rem;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.user-id{
    font-size: 0.8rem;
    color: #838383;
    text-align: center;
    background-color: #3b3b3b;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    width: 60px;
}

.user-info{
    margin-top: 0.5rem;
}

.container-user-addresses{
    margin-top: 1rem;
}
.container-title-address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 1rem 1rem 0;
}

.user-addresses{
    font-size: 0.8rem;
    background-color: #58224e;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    display: flex;
    width: 80%;
}

.user-address-info{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.add{
    background-color: #58224e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 0 0 1px 1px;
    border-radius: 50%;
    text-decoration: none;
    color: #d6d6d6;
}

.add:hover{
    background-color: #65315b;
}